.clock {
    position: absolute;
    width: 500px;
    font-size: 60px;
    top: 30%;
    margin: 0 0 0 calc(50% - 250px);
    text-align: center;
}
.clock ul li {
    display: inline;
}
.alarm, .timer{
    position: absolute;
    font-size: 40px;
    margin: 0 0 0 calc(50% - 150px);
}